// Modular Scale Bower Import
@import modular-scale/stylesheets/modular-scale
@import grid.scss/grid
@import normalize-css/normalize

/* Non Vendor Styles */
@import modules/variables
@import modules/mixin
@import modules/baseline
@import modules/flex
@import modules/grid
@import modules/transitions

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 18px
  line-height: 1.618rem

body
  background: hsl(220, 20%, 15%)
  color: #9d999e
  font-family: 'lato',sans-serif
  font-weight: 300
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.35)
  padding: 30px 0

img
  max-width: 100%

// ---------------------------
// Typography
// ---------------------------

h1,h2,h3
  color: hsl(0, 0%, 95%)
  font-weight: 400

p
  color: hsl(0, 0%, 80%)

a
  color: hsl(220, 25%, 75%)
  cursor: pointer
  text-decoration: none
  transition: all .3s
  transform-origin: 0 0

  &:hover
    color: hsl(0, 0%, 100%)
    cursor: pointer
    opacity: 1
    text-shadow: hsla(0, 0%, 100%, 0.5) 0 0 5px

  span
    font-size: .75rem
    opacity: .5

ul
  list-style: none
  text-align: left

.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right

// ---------------------------
// Logo, portrait and list
// ---------------------------
.logo
  background: url('/static/images/logo@x2.png') no-repeat 0 0
  background-size: 100% 100%
  margin: 0 auto guv(1)
  overflow: hidden
  text-indent: 120%
  height: 100px
  width: 290px
  white-space: nowrap

.portrait
  border-radius: 50%
  display: block
  margin: guv(-1) auto 0
  max-height: 120px
  max-width: 120px
  overflow: hidden

.list-networks
  margin: 0 auto
  text-align: center
  width: 100%
  a
    font-size: .75rem
    flex: 0 0 auto
    margin: 0 guv(2)
    &:hover
      svg
        transform: scale(1.2)
  svg
    height: 36px
    width: 36px
    margin: 0 auto .25rem
    fill: hsl(220, 0%, 100%)
    display: block
    transition: all .15s

.nav-portfolio
  position: fixed
  top: 50%
  left: guv(1)
  right: guv(1)
