@import modular-scale/stylesheets/modular-scale

/* Non Vendor Styles */
@import modules/fontface
@import modules/measure
@import modules/variables
@import modules/mixin
@import modules/aspect
@import modules/baseline
@import modules/flex
@import modules/grid
@import modules/transitions
@import modules/helpers

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: $color-body
  color: $color-text
  font-family: 'AvenirLTPro-Light'
  font-weight: normal
  font-style: normal
  padding: guv(3) guv(2)
  min-height: 101vh

img,video
  max-width: 100%

// ---------------------------
// Typography
// ---------------------------

h1,h2,h3,h4,h5,h6
  font-weight: normal
  font-style: normal

h1
  color: $color-hdr
  +font-smooth

h2
  color: darken($color-hdr,4%)

h3
  color: darken($color-hdr,8%)

h4
  color: darken($color-hdr,12%)

h5
  color: darken($color-hdr,16%)



a
  color: $color-link
  cursor: pointer
  text-decoration: none
  transform-origin: 0 0
  transition: .3s all
  &:hover
    color: $color-link-hover
    cursor: pointer

ul
  list-style: none
  text-align: left

// ---------------------------
// Helpers
// ---------------------------
.align-left
  text-align: left
.align-center
  text-align: center
.align-right
  text-align: right
.sticky-nav
  z-index: 999
.shadow
  box-shadow: hsla($hue, 5%, 5%, .75) 0 10px 15px -5px
.shadow--lg
  box-shadow: hsla($hue, 5%, 5%, .75) 0 10px 25px -5px

// ---------------------------
// Scrollbar - this kills me but it avoids the jank of scrollbar showing up all the time
// ---------------------------
body::-webkit-scrollbar
  width: .75rem

body::-webkit-scrollbar-thumb
  background-color: darken($color-body,10%)
  border-radius: 1rem

// ---------------------------
// Logo and portrait
// ---------------------------
.logo
  margin-left: auto
  margin-right: auto
  overflow: hidden
  white-space: nowrap
  a
    color: $color-hdr
    &:hover
      color: $color-link-hover

.portrait
  position: relative
  margin: 0 auto
  z-index: 1
  &:hover
    .icon--andre
      background-position: 0 -70px

.portrait__img
  border-radius: 100%
  display: block
  margin: 0 auto
  overflow: hidden
  position: relative
  height: guv(9)
  width: guv(9)
  &:before
    content: ''
    position: absolute
    border-radius: 100%
    display: block
    left: 0
    top: 0
    right: 0
    bottom: 0

.portrait__icon
  position: absolute
  left: 50%
  bottom: -14px
  margin-left: 36px


// ---------------------------
// Icons
// ---------------------------
.icon
  background-repeat: no-repeat
  background-size: auto 100%
  display: inline-block
  overflow: hidden
  height: 32px
  width: 32px
  vertical-align: middle

.icon--andre
  background: url('/static/images/icon-andre.png') 0 0
  background-size: 24px auto
  width: 24px
  height: 46px
  &:hover
    background-position: 0 -70px
  +retina
    background-image: url('/static/images/icon-andre@2x.png')

.icon--doc
  background-image: url('/static/images/icon-door-32x32.png')


// ---------------------------
// Main portfolio grid
// ---------------------------
.list-portfolio
  margin-top: 0
  margin-bottom: 0
  text-align: center
  a,img,video
    display: block

.list-portfolio__item
  margin-bottom: guv(1)
  padding-top: 0

.list-portfolio--row
  background: $color-body
  position: relative
  &:after,&:before
    content: ''
    background: $color-body
    position: absolute
    left: 100%
    bottom: 0
    top: 0
    width: guv(2)
  &:before
    left: guv(-2)

.list-portfolio__link
  &:hover
    cursor: pointer

.list-portfolio__link--active
  color: $color-link-hover
  position: relative
  .list-portfolio__hdr
    color: $color-link
  &:after
    content: ''
    background: $color-link
    position: absolute
    left: 0
    right: 0
    top: 100%
    margin-top: -1px
    height: 1px
    animation: spread .6s
    transition: all .6s
    .transition-end &
      left: 50%
      right: 50%

@keyframes spread
  0%
    left: 50%
    right: 50%
  100%
    left: 0
    right: 0

.list-portfolio__media
  margin-bottom: guv(1)


.list-portfolio__hide
  margin-left: auto
  margin-right: auto
  max-width: 100%
  overflow: hidden
  transition: all .3s cubic-bezier(0.465, 0.183, 0.153, 0.946)
  .transition-end[data-exit='exit-'] &
    max-width: 0
    opacity: 0
    white-space: nowrap

.list-portfolio__hdr
  +baseline($font-size-5, $below: 0)
  a:hover &
    color: $color-link-hover
  .list-portfolio--row &
    +baseline($font-size-base, $lineheight: 3, $below: 1)

.list-portfolio__deck
  color: $color-sub-hdr
  display: none
  +baseline($font-size-7, $below: 2)
  [data-enter='enter-'] &
    display: block

// ---------------------------
// List of networks in footer
// ---------------------------
.list-networks
  margin: guv(2) auto
  width: 100%

.list-networks__item
  flex: 0 0 auto
  margin: 0 guv(2)
  transition: all .25s
  font-size: $font-size-7
  &:hover
    opacity: 1
    svg
      transform: scale(1.2)
      fill: $color-link-hover
  svg
    height: 32px
    width: 32px
    margin: 0 auto 1rem
    fill: $color-icon
    display: block
    // transition: all .25s

.wallpaper
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-size: cover
  opacity: 0
  filter: blur(10px)
  z-index: -1
  .transition-start &
    opacity: 0.02
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 50%
    background: linear-gradient( $color-body, rgba($color-body,0) )
