// Modular Scale Bower Import
@import modular-scale/stylesheets/modular-scale
@import grid.scss/grid
@import normalize-css/normalize

/* Non Vendor Styles */
@import modules/variables
@import modules/mixin
@import modules/aspect
@import modules/baseline
@import modules/flex
@import modules/grid
@import modules/transitions

*
  margin: 0
  padding: 0
  box-sizing: border-box


body
  background: hsl(220, 20%, 20%)
  background: linear-gradient(0deg, hsl(210, 20%, 22%), hsl(210, 20%, 18%))
  color: hsl(210, 20%, 90%)
  font-family: 'lato',sans-serif
  font-weight: 300
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.35)
  padding: 30px 0
  // .no-touch &
  //   animation: bgbody 5s ease infinite

  // @keyframes bgbody
  //   0%
  //     background-position:50% 0%
  //     background: hsl(210, 20%, 20%)
  //   50%
  //     background-position:50% 100%
  //     background: hsl(210, 20%, 25%)
  //   100%
  //     background-position:50% 0%
  //     background: hsl(210, 20%, 20%)

img,video
  max-width: 100%

// ---------------------------
// Typography
// ---------------------------

h1,h2,h3,h4,h5
  font-weight: 400

a
  color: hsl(220, 25%, 75%)
  cursor: pointer
  text-decoration: none
  transition: all .3s
  transform-origin: 0 0

  &:hover
    color: hsl(0, 0%, 100%)
    cursor: pointer
    opacity: 1
    text-shadow: hsla(0, 0%, 100%, 0.5) 0 0 5px

ul
  list-style: none
  text-align: left

.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right
.text-small
  font-size: .75rem
.text-subtle
  opacity: .35
  color: hsl(210, 20%, 85%)


// ---------------------------
// Logo, portrait and list
// ---------------------------
.logo
  background: url('/static/images/logo@x2.png') no-repeat 0 0
  background-size: 100% 100%
  margin: 0 auto guv(1)
  overflow: hidden
  text-indent: 120%
  height: 100px
  width: 290px
  white-space: nowrap

.portrait
  position: relative
  &:hover .icon-andre
    background-position: 0 -70px

.portrait__img
  border-radius: 50%
  display: block
  margin: guv(-1) auto guv(1)
  max-height: 120px
  max-width: 120px
  overflow: hidden

.portrait__icon
  position: absolute
  left: 50%
  bottom: -14px
  margin-left: 36px

.icon
  display: inline-block
  overflow: hidden

.icon-andre
  background: url(/static/images/icn-andre-24x120.png) 0 0
  width: 24px
  height: 46px
  &:hover
    background-position: 0 -70px

.list-networks
  margin: 0 auto guv(2)
  text-align: center
  width: 100%
  a
    font-size: .75rem
    flex: 0 0 auto
    margin: 0 guv(2)
    &:hover
      svg
        transform: scale(1.2)
  svg
    height: 36px
    width: 36px
    margin: 0 auto .25rem
    fill: hsl(220, 0%, 100%)
    display: block
    transition: all .15s

.list-portfolio
  margin: guv(2) 0
  text-align: center
  a,img,video
    display: block
  img,video
    border: 1px solid hsla(220, 50%, 5%,.25)
    box-shadow: hsla(220, 50%, 5%,.5) 0 30px 25px -20px
  .aspect
    background: black
    margin-bottom: guv(1)
  p
    font-size: .75rem
    opacity: .75
