<footer>

  <hr>
  {% if !home_page %}
    <ul class="grid grid--xs-1-4 hide-mobile">
      <li class="align-center flex__item--order-xs-2">
        <a href="/">
          <svg class="icon icon--sm icon--fill-link icon--tent"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tent"></use></svg> Home
        </a>
      </li>
      <li class="align-center flex__item--order-xs-3">
        <a href="#" class="js-scroll-top">⤴ Top</a>
      </li>
      {% for object in data %}
        {% if item.preview_url == object.preview_url && data[loop.key - 1] %}
          <li class="no-wrap flex__item--order-xs-1"><a href="{{ url(data[loop.key - 1]) }}">{{ data[loop.key - 1].name }} &laquo;</a></li>
        {% elseif item.preview_url == object.preview_url && loop.first %}
          <li class="no-wrap flex__item--order-xs-1"><a href="{{ url(data[data.length - 1]) }}">{{ data[data.length - 1].name }} &laquo;</a></li>
        {% endif %}
        {% if item.preview_url == object.preview_url && data[loop.key + 1] %}
          <li class="align-right no-wrap flex__item--order-xs-4"><a href="{{ url(data[loop.key + 1]) }}">&raquo; {{ data[loop.key + 1].name }} </a></li>
        {% elseif item.preview_url == object.preview_url && !data[loop.key + 1] %}
          <li class="align-right no-wrap flex__item--order-xs-4"><a href="{{ url(data[0]) }}">&raquo; {{ data[0].name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <nav class="flex flex--horizontal-center network">
    <a href="http://codepen.io/alexisg/" onclick="trackOutboundLink('http://codepen.io/alexisg/'); return false;" target="_blank" class="network__item no-smoothstate">
      <svg class="network__icon icon icon--codepen"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-codepen"></use></svg>
      CodePen
    </a>
    <a href="http://dribbble.com/alexisg" onclick="trackOutboundLink('http://dribbble.com/alexisg'); return false;" target="_blank" class="network__item no-smoothstate">
      <svg class="network__icon icon icon--dribbble"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dribbble"></use></svg>
      Dribbble
    </a>
    <a href="https://github.com/alexisg?utf8=%E2%9C%93&tab=repositories&q=&type=source&language=" onclick="trackOutboundLink('https://github.com/alexisg?utf8=%E2%9C%93&tab=repositories&q=&type=source&language='); return false;" target="_blank" class="network__item no-smoothstate">
      <svg class="network__icon icon icon--github"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use></svg>
      Github
    </a>
    <a href="https://www.linkedin.com/in/alexisgallisa" onclick="trackOutboundLink('https://www.linkedin.com/in/alexisgallisa'); return false;" target="_blank" class="network__item no-smoothstate">
      <svg class="network__icon icon icon--linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg>
      LinkedIn
    </a>
    <a href="http://twitter.com/alexisg" onclick="trackOutboundLink('http://twitter.com/alexisg'); return false;" target="_blank" class="network__item no-smoothstate">
      <svg class="network__icon icon icon--twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
      Twitter
    </a>
  </nav>

</footer>
