<hr>
{% if !home_page %}
  {% include "templates/partials/nav.html" with {slim: true} %}
{% endif %}
<nav class="flex flex--inline flex--horizontalCenter footer">
  <a href="http://dribbble.com/alexisg" onclick="trackOutboundLink('http://dribbble.com/alexisg'); return false;" class="footer__item">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dribbble"></use></svg>
    Dribbble
  </a>
  <a href="http://codepen.io/alexisg/" onclick="trackOutboundLink('http://codepen.io/alexisg/'); return false;" class="footer__item">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-codepen"></use></svg>
    CodePen
  </a>
  <a href="http://twitter.com/alexisg" onclick="trackOutboundLink('http://twitter.com/alexisg'); return false;" class="footer__item">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
    Twitter
  </a>
  <a href="https://www.linkedin.com/in/alexisgallisa" onclick="trackOutboundLink('https://www.linkedin.com/in/alexisgallisa'); return false;" class="footer__item">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg>
    LinkedIn
  </a>
</nav>
