{% set curUrl = getCurrentUrl() %}
<nav
  {% if !home_page %}
    class="nav-portfolio-hold transition
    {% if slim %}
      hide-mobile
    {% endif %}
    "
  {% endif %}
  >
  <ul class="
    {% if home_page %}
       grid grid--xs-1-1 grid--sm-1-2 nav-portfolio
    {% else %}
       flex flex--space-between flex--stretch nav-portfolio nav-portfolio--row
    {% endif %}
  ">
    {% if !home_page %}
      <li class="nav-portfolio__toggle nav-portfolio__item">
        <button class="js-nav-toggle no-smoothstate nav-portfolio__hdr"><span></span> Portfolio</button>
      </li>
    {% endif %}
    {% for item in data %}
      <li class="nav-portfolio__item">
        <a href="{{ url(item) }}" class="nav-portfolio__link {% if curUrl == url(item)') %}nav-portfolio__link--active{% endif %}">
          {% if home_page %}
            <div class="transition transition--fall transition--fadein">
              <div class="js-media-hold nav-portfolio__media shadow aspect aspect--square"
                data-video="{{item.video_medium.url}}"
                data-img="{{ item.image.url }}"
                data-title="{{ item.name }}"
                data-id="{{item.name|replace(' ', '-', 'g') }}"
              >
              </div>
            </div>
          {% endif %}

          {% if !slim %}
            <h2 class="nav-portfolio__hdr nav-portfolio__hide">{{item.name}}</h2>
            <p class="nav-portfolio__deck nav-portfolio__hide">{{item.deck|raw}}</p>
          {% else %}
            <p class="nav-portfolio__hdr nav-portfolio__hide">{{item.name}}</p>
          {% endif %}
        </a>
      </li>
      {% endfor %}
      {# <li class="nav-portfolio__item">

        <a href="/about-alexis" class="nav-portfolio__link {% if curUrl == url(cms.aboutalexis)') %}nav-portfolio__link--active{% endif %}">
          {% if home_page %}
            <div class="transition transition--fall transition--fadein">
              <div class="js-media-hold nav-portfolio__media aspect aspect--square"
                data-video="{{cms.aboutalexis.video_medium.url}}"
                data-img="{{ cms.aboutalexis.image|imageCrop(728, 728) }}"
                data-title="{{ cms.aboutalexis.name }}"
                data-id="{{cms.aboutalexis.name|replace(' ', '-', 'g') }}"
              >
              </div>
            </div>
          {% endif %}

          {% if !slim %}
            <h2 class="nav-portfolio__hdr nav-portfolio__hide">{{cms.aboutalexis.name}}</h2>
            <p class="nav-portfolio__deck nav-portfolio__hide">{{cms.aboutalexis.deck|raw}}</p>
          {% else %}
            <p class="nav-portfolio__hdr nav-portfolio__hide">{{cms.aboutalexis.name}}</p>
          {% endif %}
        </a>
      </li> #}
  </ul>
</nav>
