{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH portfolio #}
{# This page can use any data from http:localhost:2000/cms/#/form/portfolio/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this portfolio's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

  {% set data = cms.portfolio %}
  {% set data = data|sort('publish_date', true) %}
  {% set data = paginate(data, 4) %}
  <ul class="nav-portfolio flex">
    {% for object in data %}
      {% if item.preview_url == object.preview_url && data[loop.key - 1] %}
        <li><a href="{{ url(data[loop.key - 1]) }}" class="js-anchor-left">&laquo; Prev</a></li>
      {% endif %}

      {% if item.preview_url == object.preview_url && data[loop.key + 1] %}
        <li class="text-right"><a href="{{ url(data[loop.key + 1]) }}" class="js-anchor-right">Next &raquo;</a></li>
      {% elseif item.preview_url == object.preview_url && !data[loop.key + 1] %}
        <li class="text-right"><a href="{{ url(data[0]) }}" class="js-anchor-right">Next &raquo;</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <img src="{{ item.image.url }}" />

  <a href="{{item.website}}">
    <h2>{{ item.name }}</h2>
    <p>{{item.website|replace('http://', '') }}</p>
  </a>

  {% if item.deck %}
    <h2>{{ item.deck }}</h2>
  {% endif %}

  <ul>
    {% for image in item.gallery %}
      <li>
        {# You can get the raw image url by accessing image.url #}
        <img src="{{ image|imageSize(200, 200) }}">
        <div>{{ image.caption }}</div>
      </li>
    {% endfor %}
  </ul>

  {{ item.wysiwyg_text|safe }}

{% endblock %}
