// ---------------------------
// List of networks in footer
// ---------------------------
.footer
  margin: guv(2) auto
  width: 100%

.footer__item
  color:  $color-hdr
  flex: 0 0 auto
  font-size: $font-size-7
  margin: 0 guv(2)
  &:hover
    color:  $color-hdr

.footer__icon
  display: block
  margin: 0 auto .5rem
  transition: all .3s
