// ---------------------------
// List of networks in footer
// ---------------------------
.footer
  margin: guv(2) auto
  width: 100%

.footer__item
  color:  $color-sub-hdr
  flex: 0 0 auto
  font-size: $font-size-8
  margin: 0 guv(2)
  text-transform: uppercase
  &:hover
    color:  $color-link-hover
    svg
      fill: $color-hdr
  svg
    height: 24px
    width: 24px
    margin: 0 auto .5rem
    fill: $color-sub-hdr
    display: block
    transition: all .3s
