{% extends "templates/partials/base.html" %}

{% block content %}

<h1>Bender, quit destroying the universe! h1</h1>
<p>I am the man with no name, Zapp Brannigan! Now, now. Perfectly symmetrical violence never solved anything. Um, is this the boring, peaceful kind of taking to the streets? I didn't ask for a completely reasonable excuse! I asked you to get busy!</p>
<p>As an interesting side note, as a head without a body, I envy the dead. Please, Don-Bot… look into your hard drive, and open your mercy file! <strong> That's the ONLY thing about being a slave.</strong> <em> I wish!</em> It's a nickel.</p>
<h2>Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence. h2</h2>
<p>Anyone who laughs is a communist! It doesn't look so shiny to me. OK, if everyone's finished being stupid. Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? Then throw her in the laundry room, which will hereafter be referred to as "the brig".</p>
<ol>
<li>Noooooo!</li><li>Now what?</li><li>You won't have time for sleeping, soldier, not with all the bed making you'll be doing.</li>
</ol>

<h3>Whoa a real live robot; or is that some kind of cheesy New Year's costume? h3</h3>
<p>Interesting. No, wait, the other thing: tedious. Is that a cooking show? Morbo will now introduce tonight's candidates… PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's good friend, Richard Nixon.</p>
<ul>
<li>Hello Morbo, how's the family?</li><li>Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew.</li><li>Who are those horrible orange men?</li>
</ul>

<p>Shinier than yours, meatbag. I was having the most wonderful dream. Except you were there, and you were there, and you were there! You guys realize you live in a sewer, right? You've killed me! Oh, you've killed me!</p>
<p>Now what? Please, Don-Bot… look into your hard drive, and open your mercy file! The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep.</p>
<p>Oh yeah, good luck with that. Isn't it true that you have been paid for your testimony? As an interesting side note, as a head without a body, I envy the dead. There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</p>

<h1>Oh, you're a dollar naughtier than most. Oh, you're a dollar naughtier than most.</h1>
<h2>You are the last hope of the universe. You are the last hope of the universe.</h2>
<h3>Yeah, and if you were the pope they'd be all, "Straighten your pope hat." And "Put on your good vestments."</h3>
<h4>Can we have Bender Burgers again? Can we have Bender Burgers again? Can we have Bender Burgers again?</h4>
<h5>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life.</h5>
<p>Oh yeah, good luck with that. Isn't it true that you have been paid for your testimony? As an interesting side note, as a head without a body, I envy the dead. There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</p>

{% endblock %}
