{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %}{% endblock %}

{% block content %}
  {% spaceless %}
  {% set data = cms.portfolio %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 5) %}

  <h4>Portfolio</h4>
  <ul class="list-portfolio grid thirds">
    {% for item in data %}
      <li>
        <a href="{{ url(item) }}" class="img">
          <img src="{{ item.image.url }}" />
        </a>
      </li>
    {% endfor %}
  </ul>

  <h4>Dribbble</h4>
  <ul id="js-dribble" class="list-portfolio grid quarters"></ul>
  {% endspaceless %}
{% endblock %}

{% block js_extra %}
<script>
    var callback = function (playerShots) {
        var html = '';

        $.each(playerShots.shots, function (i, shot) {
            // html += '<li><h3>' + shot.title + '</h3>';
            html += '<li><a href="' + shot.url + '" class="img">';
            html += '<img src="' + shot.image_url + '" ';
            html += 'alt="' + shot.title + '"></a></li>';
        });

        $('#js-dribble').html(html);
    };

    $.jribbble.getShotsByPlayerId('alexisg', callback, {page: 1, per_page: 8});
</script>
{% endblock %}
