html
  text-size-adjust: 100%
  +rootsize

// If you want to inject the baseline grid image onto the site, uncomment this
// body
//   +show-baseline

// Site-wide base styles.
body
  font-size: $font-size-base
  line-height: 2rem

// Add this class to any container to show the baseline
.show-baseline
  +show-baseline

// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
h1
  +baseline($font-size-1,$lineheight: 3,$below: 1)

h2
  +baseline($font-size-2,$lineheight: 3,$below: 1)

h3
  +baseline($font-size-3,$lineheight: 3,$below: 1)

h4
  +baseline($font-size-4,$lineheight: 3,$below: 1)

h5
  +baseline($font-size-5,$below: 1)

h5
  +baseline($font-size-6,$below: 1)

p
  +baseline($below: 3)


// Horizontal Rule
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr
  clear: both
  margin-top: guv(3)
  margin-bottom: guv(3)
  border-width: 0
  border-top: 1px solid rgba(black,.1)

// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul
  list-style: disc inside

ol
  list-style: decimal inside

dl,ul,ol
  padding: 0
  margin: guv(1) 0

li,dd,dt
  margin-bottom: guv(1)


li
  +baseline()

// Table styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
table
  width: 100%

th,td
  text-align: left
  padding: 10px
  border-bottom: 1px solid rgba(black,.1)
