// Baseline variables
$base-font-size               : 16px !global
$base-cap-height              : 0.53 !global
$optical-adjustment-width     : 1.1618 !global
$base-line-height             : 1.618 !global
$base-scale                   : 2 !global
$base-unit                    : $base-line-height / $base-scale * $base-font-size !global

// Grid Variables
$grid_columns                 : 12
$grid_gutter_width            : 15px
$grid_gutter_height           : $base-unit
$grid_max_width               : 1000px
$break-sm                     : 768px
$break-md                     : 1024px
$break-lg                     : 1200px
$break-xl                     : 1440px
$breakpoints                  : ("sm":$break-sm,"md": $break-md,"lg": $break-lg,"xl": $break-xl)
